body {
    font-family: sans;
    padding: 1rem;
    color: #474056;

}

.link {
    color: red;
    text-decoration: none;
}

.header {
    border-bottom: 1px solid lightgray;
}

.header__title {
    color: red;
    font-weight: normal;
    text-transform: uppercase;
}
.blog__item {
    border-bottom: 1px solid #575757;
    padding-block: 2rem;
}
.blog__item--remove-line {
    border-bottom: 0;
}
.header__title-strong {
    font-weight: bold;
}

.footer {
    padding-block: 1rem;
    text-align: center;
}

.hero {
    font-size:1.3rem;
    line-height: 2rem;
}

.hero__line {
    background: red;
    color: white;
    padding: .3rem;
    display: inline-block;
}
.blog {
    background: ghostwhite;
    padding:1rem;
}
.blog__title {
    font-weight: normal ;
    font-size: 1.5rem
}
.blog__time {
    color: #575757;
    font-style: italic;
}
.link--title-blog {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #575757;
}
.link--read-more-blog{
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #575757;
}
